<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="exRS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="exRS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <common>
    <logging>
      <factoryAdapter type="exRSConsole.LogAdapter, exRSConsole">
        <arg key="level" value="ALL"/>
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss"/>
      </factoryAdapter>
    </logging>
  </common>
  <applicationSettings>
    <exRS.Properties.Settings>
      <setting name="exRS_SSRSService_ReportingService2010" serializeAs="String">
        <value>http://desktop-name:80/ReportServer/ReportService2010.asmx</value>
      </setting>
    </exRS.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <exRS.Properties.Settings>
      <setting name="SSRSUser" serializeAs="String">
        <value>desktop-name\user</value>
      </setting>
      <setting name="SSRSPassword" serializeAs="String">
        <value></value>
      </setting>
      <setting name="backupPath" serializeAs="String">
        <value>C:\Temp</value>
      </setting>
      <setting name="subscriptionSettingsFolder" serializeAs="String">
        <value>Subscriptions</value>
      </setting>
      <setting name="dbUserForDataSource" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="dbPasswordForDataSource" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="subscriptionFileSharePath" serializeAs="String">
        <value>\\DESKTOP-NAME\Temp</value>
      </setting>
      <setting name="sourceFolderPath" serializeAs="String">
        <value>.\Reports</value>
      </setting>
      <setting name="datasourcesServerFolderName" serializeAs="String">
        <value>Data Sources</value>
      </setting>
      <setting name="datasetsServerFolderName" serializeAs="String">
        <value>Datasets</value>
      </setting>
    </exRS.Properties.Settings>
  </userSettings>
</configuration>